body {
  background: rgb(180, 204, 232);
  background: linear-gradient(
    135deg,
    rgba(180, 204, 232, 1) 0%,
    rgba(74, 115, 159, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.app__content {
  min-height: 90vh;
}

.app__col {
  place-items: center;
  display: grid;
  margin: 24px 0;
}

.app__row {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  height: 70vh;
}

.app__header {
  height: 10vh;
  place-items: center;
  display: grid;

  h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #f9faff;
    text-transform: uppercase;
  }
}

.app__randomButton {
  font-size: large;
  background-color: #f9faff;
  border: none;
  border-radius: 2rem;
  padding: 12px 48px;
  font-weight: 600;
  color: #2a314d;
  box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  place-items: center;
  display: flex;
  margin: 0 0 32px 0;
  text-transform: uppercase;
  cursor: pointer;

  svg {
    margin-right: 8px;
  }
}
button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .app__row {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .app__col {
    margin: 8px 0;
  }
  .app__header {
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.app__uniformSwitch {
  text-align: center;
  margin: 0 0 2rem 0;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  animation-name: fade;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
